{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <script src="https://use.fontawesome.com/4c272d4bbc.js"></script>
    <title>Appointment Calendar</title>
</head>
<body>

<h1>Appointment Calendar</h1>

<div class="month">
  <table>
    <tr>
      <td class="prev"><a href="{% url 'reservation:calendar' prev_month prev_year %}" style="text-decoration: none;color: white;">&#10094;</a></td>
      <td class="monthhead">{{ month_name }} {{ year}} {{ last_month }}</td>
        <td class="next"><a href="{% url 'reservation:calendar' next_month next_year %}" style="text-decoration: none;color: white;">&#10095;</a></td>
    </tr>
  </table>
</div>




<ul class="weekdays">
  <li>Sunday</li>
  <li>Monday</li>
  <li>Tuesday</li>
  <li>Wednesday</li>
  <li>Thursday</li>
  <li>Friday</li>
  <li>Saturday</li>
</ul>

<div class="calendar">

<table class="calbox">
<tr>
{% for item in week_one %}
  {% if item == "none" %}
    <td class="hidden">{{ item }}
          <ul>
            <li>none</li>
            <li>none</li>
            <li>none</li>
            <li>none</li>
          </ul>
      </td>
  {% else %}
    <td>{{ item }}
      <a href="{% url 'reservation:overview' %}" class="infobox" style="text-decoration:none;color: black;">
        <ul>
          <li>appointment 1</li>
          <li>appointment 2</li>
          <li>appointment 3</li>
          <li>appointment 4</li>
        </ul>
      </a>
    </td>
  {% endif %}
{% endfor %}
</tr>
<tr>
{% for item in week_two %}
  {% if item == "none" %}
    <td class="hidden">{{ item }}
          <ul>
            <li>none</li>
            <li>none</li>
            <li>none</li>
            <li>none</li>
          </ul>
      </td>
  {% else %}
    <td>{{ item }}
      <a href="{% url 'reservation:overview' %}" class="infobox" style="text-decoration:none;color: black;">
        <ul>
          <li>appointment 1</li>
          <li>appointment 2</li>
          <li>appointment 3</li>
          <li>appointment 4</li>
        </ul>
      </a>
    </td>
    {% endif %}
{% endfor %}
</tr>
   <tr>
{% for item in week_three %}
     {% if item == "none" %}
    <td class="hidden">{{ item }}
          <ul>
            <li>none</li>
            <li>none</li>
            <li>none</li>
            <li>none</li>
          </ul>
      </td>
  {% else %}
    <td>{{ item }}
      <a href="{% url 'reservation:overview' %}" class="infobox" style="text-decoration:none;color: black;">
        <ul>
          <li>appointment 1</li>
          <li>appointment 2</li>
          <li>appointment 3</li>
          <li>appointment 4</li>
        </ul>
      </a>
    </td>
       {% endif %}
{% endfor %}
</tr>
   <tr>
{% for item in week_four %}
     {% if item == "none" %}
    <td class="hidden">{{ item }}
          <ul>
            <li>none</li>
            <li>none</li>
            <li>none</li>
            <li>none</li>
          </ul>
      </td>
  {% else %}
    <td>{{ item }}
      <a href="{% url 'reservation:overview' %}" class="infobox" style="text-decoration:none;color: black;">
        <ul>
          <li>appointment 1</li>
          <li>appointment 2</li>
          <li>appointment 3</li>
          <li>appointment 4</li>
        </ul>
      </a>
    </td>
       {% endif %}
{% endfor %}
</tr>
   <tr>
{% for item in week_five %}
     {% if item == "none" %}
    <td class="hidden">{{ item }}
          <ul>
            <li>none</li>
            <li>none</li>
            <li>none</li>
            <li>none</li>
          </ul>
      </td>
  {% else %}
    <td>{{ item }}
      <a href="{% url 'reservation:overview' %}" class="infobox" style="text-decoration:none;color: black;">
        <ul>
          <li>appointment 1</li>
          <li>appointment 2</li>
          <li>appointment 3</li>
          <li>appointment 4</li>
        </ul>
      </a>
    </td>
       {% endif %}
{% endfor %}
</tr>
<tr>
{% for item in week_six %}
  {% if item == "none" %}
    <td class="hidden">{{ item }}
          <ul>
            <li>none</li>
            <li>none</li>
            <li>none</li>
            <li>none</li>
          </ul>
      </td>
  {% else %}
    <td>{{ item }}
      <a href="{% url 'reservation:overview' %}" class="infobox" style="text-decoration:none;color: black;">
        <ul>
          <li>appointment 1</li>
          <li>appointment 2</li>
          <li>appointment 3</li>
          <li>appointment 4</li>
        </ul>
      </a>
    </td>
    {% endif %}
{% endfor %}
</tr>
</table>
</div>

</body>
</html>