{% extends 'index/base.html' %}
{% block title %}Remove Drug{% endblock %}
{% block header %}Remove Drug Page{% endblock %}
{% block content %}
<script>
    function redirect(){
       window.location.href = "{% url 'medical:add_drug' %}";
    }

    setTimeout(redirect, 3000); //3000 is equivalent to 3 seconds
</script>

<div class="maincontent">
    <div class="whitebox">
        <p>Drug successfully removed.</p>
        <a href="{% url 'medical:list_drug' %}">Return to drug list</a>
    </div>
</div>

{% endblock %}